<div id="content" style="text-align:center;">
  <img src="/" width="620" height="300" style="margin-bottom:10px;"/><br />
  <% @slides.each_with_index do |slide, index| -%>
    <%= " | " if index > 0 %>
    <%= link_to slide.title, slide_path(slide) %>
  <% end -%>
</div>
<div id="resources">
  <h3>Departments</h3>
  <ul>
  <% for department in @departments -%>
    <li><%= link_to department.title, department_path(department) %></li>
  <% end -%>
  </ul>
</div>
