<h1>Listing services</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%=h service.title %></td>
    <td><%=h service.body %></td>
    <td><%= link_to 'Show', service %></td>
  </tr>
<% end %>
</table>
