/* -------------------------------------------------------------- 
  
   Boilerplate Screen Styles
   * Version:   0.5 (2007-11-19)
   
-------------------------------------------------------------- */

@import "lib/reset.css";
@import "lib/typography.css";
@import "lib/forms.css";
@import "lib/plugins/tabs.css";
@import "lib/plugins/buttons.css";


/* Page
-------------------------------------------------------------- */

h1 h2 { color: #444;}
h3, h4, h5, h6 { color: #be7503; }
#page {
	margin: 0 auto; 
	width: 950px; 
}
.clear { clear:both; }
a, a:visited {
  text-decoration: none;
	color: #be7503;
}
a:hover, a:active {
  background-color: #ccc;
	color: #be7503;
}

/* Header
-------------------------------------------------------------- */

#header { margin-top: 20px; }
#header h1 { margin-bottom: 0px; }
#header h2 { font-size: 1.3em; }
#header .tabs { border-bottom: 1px solid #ddd; }
#header .tabs li { margin-right: 1px; }
#header .tabs a { 
	padding: 5px 15px; 
	background: #ddd; 
	color: #666; 
	text-decoration: none; 
}
#header .tabs a:hover { 
	padding: 5px 15px; 
	color: #ddd; 
	text-decoration: none; 
	background: #be7503; 
}
#header .tabs a.active { 
	padding: 5px 15px; 
	color: #ddd; 
	text-decoration: none; 
	background: #be7503; 
}


/* Content
-------------------------------------------------------------- */

.odd_row {
	background: #eeedeb; 
}
td, th {
	padding-left: 3px;
}
img.thumb {
	display: block;
	margin-top: 10px;
}

/* Footer
-------------------------------------------------------------- */
#footer { 
	border-top: 1px solid #D9E1E5; 
	margin-top: 20px; 
}

#footer p.quiet { color: #444; }


/* Content
-------------------------------------------------------------- */

