<h1><%= controller.controller_name.humanize %></h1>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
  </tr>
  <%= render :partial => "row", :collection => collection %>
</table>

<br />
<%= link_to "New #{controller.controller_name.humanize.singularize}", new_object_path %>