/* -------------------------------------------------------------- 
  
   Boilerplate Screen Styles
   * Version:   0.5 (2007-11-19)
   
-------------------------------------------------------------- */

@import "lib/reset.css";
@import "lib/typography.css";
@import "lib/forms.css";
@import "lib/plugins/tabs.css";
@import "lib/plugins/buttons.css";


/* Page
-------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 { color: #be7503; }
h1 { font-size: 1.5em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; }
#page {
	margin: 0 auto; 
	width: 950px; 
}
.clear { clear:both; }
a, a:visited {
  text-decoration: none;
	color: #be7503;
}
a:hover, a:active {
  background-color: #ccc;
	color: #be7503;
}

/* Header
-------------------------------------------------------------- */

#header h1 { margin-bottom: 0px; }
#header h2 { font-size: 1.3em; }
#header .tabs { border-bottom: 1px solid #ddd; }
#header .tabs li { margin-right: 1px; }
#header .tabs a { 
	padding: 5px 15px; 
	background: #ddd; 
	color: #666; 
	text-decoration: none; 
}
#header .tabs a:hover { 
	padding: 5px 15px; 
	color: #ddd; 
	text-decoration: none; 
	background: #be7503; 
}
#header .tabs a.active { 
	padding: 5px 15px; 
	color: #ddd; 
	text-decoration: none; 
	background: #be7503; 
}


/* Content
-------------------------------------------------------------- */
#body {
	margin-top: 20px;
}

#content { float: left; width: 620px; margin-right: 80px;}

#resources { float: left; width: 250px; }
#resources h1 { color: #888; }
#resources p { color: #888; }
#resources li { color: #888; }

.odd_row {
	background: #eeedeb; 
}
.over_row {
	background: #dddcda;
}
td, th {
	padding-left: 3px;
}
img.thumb {
	display: block;
	margin-top: 10px;
}
img.inline {
	float: right;
	margin: 0px 0px 10px 10px;
}
tr.row_drag {
	background-color: #be7503;
}

#photos {
  margin: 0px;
}
#photos li {
  list-style-type: none;
  border:1px solid #555;
  float:left;
  margin: 8px 6px 8px 0px;
	padding: 1px;
  width: 180px;
  height: 140px;
	text-align: center;
}

/* Notices and Alerts
-------------------------------------------------------------- */
div.flash {
  padding: 5px 10px 5px 10px;
  margin: 10px 0px;
  font-weight: bold;
}
div.flash_error, div.flash_alert {
  color: #333;  
	background: #fee;
	border: solid 1px #fbb;
}
div.flash_notice {
	color: #333;  
	background: #efe;
	border: solid 1px #bfb;
}
div.errorExplanation {
  border: solid 1px #dcdcdc;
  padding: 0px 10px 0px 10px;
  margin-bottom: 15px;
}
div.fieldWithErrors input.text, div.fieldWithErrors input.title, div.fieldWithErrors textarea, div.fieldWithErrors select {
  border: 2px solid #d88;
}
div.fieldWithErrors input.text:focus, div.fieldWithErrors input.title:focus, div.fieldWithErrors textarea:focus, div.fieldWithErrors select:focus {
  border: 2px solid #d44;
}

/* Footer
-------------------------------------------------------------- */
#footer { 
	border-top: 1px solid #D9E1E5; 
	margin-top: 20px; 
}

#footer p.quiet { color: #444; }

