<table width="100%">
  <tr>
    <th>Title</th>
    <th colspan="4" width="20%"></th>
  </tr>
  <%= render :partial => "row", :collection => collection %>
</table>
<strong><%= will_paginate collection %></strong>