<h1>Listing clients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%=h client.name %></td>
    <td><%=h client.description %></td>
    <td><%= link_to 'Show', client %></td>
  </tr>
<% end %>
</table>
