<h1>Listing industries</h1>

<table>
  <tr>
    <th>Position</th>
    <th>Slug</th>
    <th>Title</th>
  </tr>

<% @industries.each do |industry| %>
  <tr>
    <td><%=h industry.position %></td>
    <td><%=h industry.slug %></td>
    <td><%=h industry.title %></td>
    <td><%= link_to 'Show', industry %></td>
  </tr>
<% end %>
</table>
