<h1>Listing stories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%=h story.title %></td>
    <td><%=h story.body %></td>
    <td><%= link_to 'Show', story %></td>
  </tr>
<% end %>
</table>
