<h1>Editing <%= controller.controller_name.humanize.singularize %></h1>

<% form_for(@object, :url => object_path, :html => { :multipart => true, :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
<% end %>

<%= link_to 'Show', object_path(@object) %> |
<%= link_to 'Back', collection_path %>