<h1>Listing categories</h1>

<table>
  <tr>
    <th>Slug</th>
    <th>Title</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%=h category.slug %></td>
    <td><%=h category.title %></td>
    <td><%= link_to 'Show', category %></td>
  </tr>
<% end %>
</table>