<h4><%= link_to "Create Administrator &raquo;", new_object_path %></h4>
<table width="100%">
  <tr>
    <th>Name</th>
    <th>Login</th>
    <th>Email</th>
    <th colspan="2" width="14%"></th>
  </tr>
  <%= render :partial => "row", :collection => collection %>
</table>
<strong><%= will_paginate collection %></strong>